<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">

		  	<p>
				&copy 2024 ECN AAU <br>
			
				ECN is a research group that is part of the Electronic Systems department in the <a href="https://www.aau.dk/">Aalborg Universitet</a>.<br><br>
				This site is based on the template kindly provided by <a href="http://www.allanlab.org/">Allan Lab</a>. For some instructions to make a similar page, see <a href="{{site.url }}{{ site.baseurl }}/aboutwebsite">here</a>.
			
			</p>

		</div>
		
		<div class="col-sm-6">
			<b>Contact</b>:<br />
			Aalborg Universitet København<br/>
		  	A. C. Meyers Vænge 15<br/>
			2450 København<br/>
			Denmark <br />
            (<a href="https://maps.app.goo.gl/b5aaGnxq3yGTESfM7">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
